@media (min-width: 768px) {
    #donde-info{
        display: grid ;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;

        align-items: start;

        grid-template-areas:
         "ubicacion ubicacion"
         "actividades flora-fauna"
        ". flora-fauna"
         "estancias estancias"
         "normas normas";
    }

    #ubicacion {
        grid-area: ubicacion;
    }

    #estancias {
        grid-area: estancias;
    }
    
    #actividades {
        grid-area: actividades;
    }

    #flora-fauna {
        grid-area: flora-fauna;
    }

    #normas {
        grid-area: normas;
    }
}


@media (min-width: 960px) {
    #donde-info{
        display: grid ;
        grid-template-columns: 1fr 1.3fr;
        gap: 1.5rem;

        align-items: start;

        grid-template-areas:
         "ubicacion estancias"
         "actividades estancias"
         "actividades normas"
        "actividades normas"
        "flora-fauna normas "
        ". normas"
         ;
    }

    #ubicacion {
        grid-area: ubicacion;
    }

    #estancias {
        grid-area: estancias;
    }
    
    #actividades {
        grid-area: actividades;
    }

    #flora-fauna {
        grid-area: flora-fauna;
    }

    #normas {
        grid-area: normas;
    }
}